@using Blazored.LocalStorage;
@using El_SaherMopileApplication.Models;
@using El_SaherMopileApplication.Services;
@page "/StudentExam/{studentId:int}"
@inject IManager manger
@inject ILocalStorageService _localStorage;


<h3 style="align-self:center; text-align:center; text-decoration:underline; letter-spacing:2px; color:#0A6EBD">سجل نتائج امتحانات الطالب</h3>
<div class="card border-1" style="min-width:100%">
    @if (student != null)
    {
            <img class="card-img-top w-75 align-self-center"  src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="صورة الطالب">
            <table class="fl-table" style="justify-self:center ">
                <thead>
                    <tr>
                        <th>التاريخ</th>
                        <th>موضوع الامتحان</th>
                        <th>الدرجة</th>
                        <th>الدرجة النهائية</th>
                    </tr>
                </thead>
                <tbody>
                    @if (student.Exams != null)
                    {
                        @foreach (var item in student.Exams)
                        {
                            @if (item != null)
                            {
                                <tr>
                                    <td>@(item.Date.ToShortDateString())</td>
                                    <td>@(item.Name)</td>
                                    <td>@(item.Score)</td>
                                    <td>@(item.OutOf)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
    }
    else
    {
        <h6>انتظر حتي يتم استقبال بيانات الطالب</h6>
    }

</div>

@code {
[Parameter]
    public int? studentId { get; set; }
    public Student student { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            student = await manger.GetStudentById(studentId.Value);
            if (student != null)
            {
                await _localStorage.SetItemAsync<Student>("student", student);
            }
        }
        catch (Exception)
        {
            if (await _localStorage.ContainKeyAsync("student"))
            {
                var stu = await _localStorage.GetItemAsync<Student>("student");
                if (stu.StudentID == studentId.Value)
                {
                    student = stu;

                }
            }
        }
    }
}


